{#
/**
 * @file
 *
 * Default theme implementation for project tasks.
 *
 * Available variables:
 * - content: Items for the content of the project.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - project_task: The project task object.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'project_task',
    'status-' ~ project_task.status.value|clean_class
    ]
%}
<section {{ attributes.addClass(classes) }}>
    <div class="row">
        <div class="col s12 l8">
            <div class="card card-summary">
                <div class="card-content">
                    <span class="card-title">Task Summary</span>
                    {{ content|without('project', 'status', 'due', 'field_dmx_project_task_assigned', 'field_dmx_project_task_links', 'field_dmx_project_task_content', 'field_dmx_project_task_media') }}

                    <div class="row">
                        <div class="col s6">
                            {{ content.project }}
                            {{ content.due }}
                            {{ content.field_dmx_project_task_assigned }}
                        </div>
                        <div class="col s6">
                            {{ content.field_dmx_project_task_links }}
                        </div>
                    </div>
                </div>
            </div>

            {% set view = drupal_view('dmx_project_content', 'task_content', project_task.id.value) %}
            {% if view is not empty %}
                <div class="card card-related-content">
                    <div class="card-content">
                        <span class="card-title tooltipped" data-tooltip="Content related to this task" data-position="bottom">Content</span>
                        {{ view }}
                    </div>
                </div>
            {%  endif %}

            {% set view = drupal_view('dmx_project_media', 'task_media', project_task.id.value) %}
            {% if view is not empty %}
                <div class="card card-related-media">
                    <div class="card-content">
                        <span class="card-title tooltipped" data-tooltip="Media related to this task" data-position="bottom">Media</span>
                        {{ view }}
                    </div>
                </div>
            {%  endif %}

        </div>

        <div class="col s12 l4">
            {{ content.status }}

            <div class="card card-activity">
                <div class="card-content">
                    <span class="card-title">Activity</span>
                    {{ drupal_view('dmx_project_activity', 'project_task_activity', project_task.id.value) }}
                </div>
            </div>
        </div>
    </div>
</section>
